
.logoGeneral{
    position: absolute;
    left: 0%;
    transform: translate(10%, 10%);                                    
    z-index: 2;
    width: 10%;  
}

.backGroungImageGeneral{
    background-size: cover;
    background-position: center;
    height: 1200px;
}

.backgroundForm{
    border-radius: 30px;
    margin: 50px;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
}

.generalInput{ 
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 5px;
    width: 400px;
}

.letters{    
    font-size: 18px;
    font-weight: 600;
}

.generalButton{
    background-color: rgba(100, 30, 212, 0.5);
    border: 1.5px solid black;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    margin: 10px;
    width: 200px;
    align-items: center;
    align-content: center;
    font-weight: 600;  
}

.generalButton:hover {
    background-color: rgba(100, 30, 212);
}

.stepImages {
    width: 320px;
}

.stepText {
    width: 320px;
}